@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
    font-family: "almarai";
    src: url("./fonts/Almarai-Regular.ttf");
  }

  @font-face {
    font-family: "almarai-bold";
    src: url("./fonts/Almarai-Bold.ttf");
  }

  @font-face {
    font-family: "almarai-extrabold";
    src: url("./fonts/Almarai-ExtraBold.ttf");
  }

  @font-face {
    font-family: "almarai-light";
    src: url("./fonts/Almarai-Light.ttf");
  }


  ion-label, ion-select, ion-toggle{
    font-family: "almarai" !important;
  }